In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:/Datasets/gapminder.csv")

In [3]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
y=df["fertility"]

1. Extract Features <br/>
a. Features and target should not have null values<br/>
b. Features should be numeric in nature<br/>
c. Features should be of the type array/ dataframe<br/>
d. Features should have some rows and some columns<br/>

2. Split the dataset into training and testing datasets<br/>
e. Features should be on the same scale<br/>
3. Train the model on the training dataset<br/>
4. Test the model on the testing dataset<br/>

In [5]:
X=df.drop("fertility",axis=1)

In [6]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [7]:
X.isna().sum()

population         0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

In [8]:
y.isna().sum()

0

In [9]:
X.dtypes

population         float64
HIV                float64
CO2                float64
BMI_male           float64
GDP                float64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [10]:
X=pd.get_dummies(X,columns=["Region"])

In [11]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_America,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,1,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,0,1,0,0,0,0

In [12]:
X.dtypes

population                           float64
HIV                                  float64
CO2                                  float64
BMI_male                             float64
GDP                                  float64
BMI_female                           float64
life                                 float64
child_mortality                      float64
Region_America                         uint8
Region_East Asia & Pacific             uint8
Region_Europe & Central Asia           uint8
Region_Middle East & North Africa      uint8
Region_South Asia                      uint8
Region_Sub-Saharan Africa              uint8
dtype: object

In [13]:
type(X)

pandas.core.frame.DataFrame

In [14]:
X.shape

(139, 14)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [17]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_America,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,1,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,0,1,0,0,0,0

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
scaler=MinMaxScaler()

In [20]:
X_train=scaler.fit_transform(X_train)

In [21]:
X_test=scaler.transform(X_test)

In [22]:
from sklearn.tree import DecisionTreeRegressor

In [52]:
model=DecisionTreeRegressor(min_samples_leaf=5)

In [53]:
model.fit(X_train,y_train)

DecisionTreeRegressor(min_samples_leaf=5)

In [54]:
model.score(X_test,y_test)

0.8539872566980684

In [55]:
model.score(X_train,y_train)

0.9250505311073832