In [43]:
import pandas as pd

In [44]:
df=pd.read_csv("C:/Datasets/gapminder.csv")

In [45]:
df.head(5)

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [46]:
y=df["fertility"]

In [47]:
x=df.drop("fertility",axis=1)

In [48]:
x.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [49]:
x.isna().sum()

population         0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

In [50]:
y.isna().sum()

0

In [51]:
x.dtypes

population         float64
HIV                float64
CO2                float64
BMI_male           float64
GDP                float64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [52]:
x["Region"].unique()

array(['Middle East & North Africa', 'Sub-Saharan Africa', 'America',
       'Europe & Central Asia', 'East Asia & Pacific', 'South Asia'],
      dtype=object)

In [53]:
x=pd.get_dummies(x,columns=["Region"],drop_first=True)

In [54]:
x

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,3350832.0,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,0,0,0,0,0
135,26952719.0,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,0,1,0,0,0
136,86589342.0,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,1,0,0,0,0
137,13114579.0,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,0,0,0,0,1
138,13495462.0,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,0,0,0,0,1

In [55]:
type(x)

pandas.core.frame.DataFrame

In [56]:
x.shape

(139, 13)

# TRAIN TEST SPLIT

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

# MIN MAX SCALER

In [60]:
from sklearn.preprocessing import MinMaxScaler

In [61]:
scaler=MinMaxScaler()

In [62]:
x_train=scaler.fit_transform(x_train)

In [63]:
x_test=scaler.transform(x_test)

# LINEAR REGRESSION

In [64]:
from sklearn.linear_model import LinearRegression

In [65]:
model=LinearRegression()

In [66]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [67]:
model.score(x_test,y_test)

0.880326468970407

# PREDICTIONS

In [68]:
data=pd.DataFrame({"First":[1200],"Second":[0.5],"Third":[50],"Fourth":[30],"Fifth":[12000],"Sixth":[100],"Seventh":[50],"Eighth":[40],"Ninth":[0],
            "Tenth":[0],"Eleventh":[0],"Twelve":[1],"Thirteen":[0]})

In [69]:
data.shape

(1, 13)

In [70]:
data

,First,Second,Third,Fourth,Fifth,Sixth,Seventh,Eighth,Ninth,Tenth,Eleventh,Twelve,Thirteen
0,1200,0.5,50,30,12000,100,50,40,0,0,0,1,0

In [71]:
data=scaler.transform(data)

In [72]:
model.predict(data)

array([2.68901731])