1. Extract Features <br>
a. Features and target should not have any null values<br>
b. Features should be numeric in nature<br>
c. Features should be of the type array/ dataframe<br>
d. Features should have some rows and some columns<br>
2. Split the dataset into training and testing datasets<br>
e. Features should be on the same scale<br>
3. Train the model on the training dataset<br>
4. Test the model on the testing dataset<br>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:/Datasets/Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
y=df["Species"]

# 1

In [6]:
X=df.drop("Species",axis=1)

In [7]:
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [8]:
X=X.drop("Id",axis=1)

In [9]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
X.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [12]:
y.isna().sum()

0

In [13]:
X.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
dtype: object

In [14]:
type(X)

pandas.core.frame.DataFrame

In [15]:
X.shape

(150, 4)

# 2

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)